# this is read by the standalone daemon and embedded servers
[server]

# this is only for the mysqld standalone daemon
[mysqld]

#
# * Galera-related settings
#
[galera]
wsrep_on=ON
wsrep_provider=/usr/lib64/galera/libgalera_smm.so
wsrep_cluster_address="gcomm://{% for host in groups[galera_cluster_inventory_group] %}{{ hostvars[host]['ansible_eth0']['ipv4']['address'] }}{% if not loop.last %},{% endif %}{% endfor %}"
wsrep_cluster_name="{{ galera_cluster_name }}"
wsrep_sst_method=rsync
wsrep_node_address="{{ ansible_default_ipv4['address'] }}"
wsrep_node_name="{{ ansible_hostname }}"

binlog_format=row
default_storage_engine=InnoDB
innodb_autoinc_lock_mode=2

bind-address={{ galera_bind_address }}


# Optional setting
#wsrep_slave_threads=1
#innodb_flush_log_at_trx_commit=0

# To start failed cluster comment out above and uncomment below...Once cluster is started revert changes and restart mysql on main node where change was made
#wsrep_cluster_address="gcomm://"

# this is only for embedded server
[embedded]

# This group is only read by MariaDB servers, not by MySQL.
# If you use the same .cnf file for MySQL and MariaDB,
# you can put MariaDB-only options here
[mariadb]

# This group is only read by MariaDB-10.1 servers.
# If you use the same .cnf file for MariaDB of different versions,
# use this group for options that older servers don't understand
[mariadb-10.1]