###################### Metricbeat Configuration Example #######################
# This file is an example configuration file highlighting only the most common
# options. The metricbeat.full.yml file from the same directory contains all the
# supported options with more comments. You can use it as a reference.
#
# You can find the full configuration reference here:
# https://www.elastic.co/guide/en/beats/metricbeat/index.html
#==========================  Modules configuration ============================
metricbeat.modules:
#------------------------------- System Module -------------------------------
{% for key, value in mb_modules %}
{% if value.enabled %}
{{ value.config }}
{% endif %}
{% endfor %}

#================================ General =====================================
# The name of the shipper that publishes the network data. It can be used to group
# all the transactions sent by a single shipper in the web interface.

name: {{ ansible_hostname }}

# The tags of the shipper are included in their own field with each
# transaction published.
#tags: ["service-X", "web-tier"]
# Optional fields that you can specify to add additional information to the
# output.
#fields:
#  env: staging
#================================ Outputs =====================================
# Configure what outputs to use when sending the data collected by the beat.
# Multiple outputs may be used.

{% if beats_output_elastic %}
#-------------------------- Elasticsearch output ------------------------------

output.elasticsearch:
  hosts: ["{{ elk_server }}:9200"]
  protocol: "{{ beats_elastic_protocol }}"
  username: "{{ beats_elastic_username }}"
  password: "{{ beats_elastic_password }}"

  {% if beats_elastic_protocol == 'https' %}
  ssl.certificate_authorities: ["{{ beats_ssl_ca }}"]
  ssl.certificate: '{{ beats_ssl_cert }}'
  ssl.key: '{{ beats_ssl_key }}'
  {% endif %}
{% endif %}

{% if beats_output_logstash %}
#----------------------------- Logstash output --------------------------------
output.logstash:
  hosts: ["{{ elk_server }}:5044"]
  {% if beats_logstash_ssl %}
  ssl.certificate_authorities: ["{{ beats_ssl_ca }}"]
  ssl.certificate: '{{ beats_ssl_cert }}'
  ssl.key: '{{ beats_ssl_key }}'
  {% endif %}
{% endif %}

#================================ Logging =====================================

# Sets log level. The default log level is info.
# Available log levels are: critical, error, warning, info, debug
#logging.level: debug

# At debug level, you can selectively enable logging only for some components.
# To enable all selectors use ["*"]. Examples of other selectors are "beat",
# "publish", "service".
#logging.selectors: ["*"]
