output {
    elasticsearch {
        ssl => true
        cacert => '{{ ssl_ca_path }}'
        hosts => ["https://{{ inventory_hostname }}:9200"]
        sniffing => true
        manage_template => false
        index => "%{[@metadata][beat]}-%{+YYYY.MM.dd}"
        document_type => "%{[@metadata][type]}"
        user => '{{ elastic_auth_user }}'
        password => '{{ elastic_auth_password }}'
    }
}